.know_more {
    position: absolute;
    padding: 16.0002px 44.0003px;
    background-color: #88888891;
    border-radius: 5.0004px;
    font-family: "Inter", sans-serif;
    font-size: 28.0001px;
    font-weight: 600;
}