.socials {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 118.9998px;
    font-family: "Inter", sans-serif;
    font-size: 20.0005px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2.0002px;
    
}
