.swiper-scrollbar{
height: 2.0002px !important;
border-radius: 0 !important;
background: rgba(255, 255, 255, 0.35) !important;
}
.swiper-scrollbar-drag{
    background: rgba(255, 255, 255, 0.733) !important;
}