.watch__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30.0002px;
    font-family: "Inter", sans-serif;
    font-size: 28.0001px;
    font-weight: 600;
    color: #ffffff;
    
}
.Watch__Now_images{
    width: 82.0001px;
    height: 82.0001px;
}